/*---- Basic colors ---*/
/*---- Body BG color ---*/
/*---- Primary link colors ---*/
/*---- Primary button ---*/
/*---- Secondary button ---*/
/*---- Danger/Red colors ---*/
/*---- Success/green colors ---*/
/*---- Warning/yellow colors ---*/
.selectric-wrapper {
  position: relative;
  cursor: pointer; }

.selectric-responsive {
  width: 100%; }

.selectric {
  border: 1px solid #D7D9E5;
  border-radius: 8px;
  background: #fff;
  position: relative;
  overflow: hidden; }
  .selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 35px 0 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    height: 38px;
    user-select: none;
    color: #666980;
    padding: 0;
    text-align: inherit; }
  .selectric-form-control-sm .selectric .label {
    height: 28px;
    line-height: 28px;
    font-size: 13px; }
  .selectric-form-control-lg .selectric .label {
    height: 48px;
    line-height: 48px; }
  .selectric-form-error .selectric {
    border-color: #F15139; }
  .selectric-disabled .selectric {
    border-color: #D7D9E5; }
  .selectric .selectric-arrow-drop {
    position: absolute;
    right: 15px;
    font-size: 14px;
    top: calc(50% - 7px); }
  .selectric .button {
    position: absolute;
    right: 15px;
    font-size: 0;
    top: calc(50% - 7px);
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    width: auto;
    font-weight: normal; }
    .selectric .button::before {
      content: "\e900";
      font-family: icomoon;
      color: #666980;
      font-size: 14px; }
    .selectric .button:hover, .selectric .button:focus {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }

.selectric-focus .selectric {
  border-color: #054582; }

.selectric-open {
  z-index: 9999; }
  .selectric-open .selectric {
    border-color: #054582; }
  .selectric-open .selectric-items {
    display: block; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }
  .selectric-hide-select select {
    position: absolute;
    left: -100%; }
  .selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .selectric-hide-select.selectric-is-native select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  background: #fff;
  border: 1px solid #D7D9E5;
  z-index: -1;
  box-shadow: 0 10px 30px 0 rgba(168, 171, 189, 0.5);
  border-radius: 8px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: bold;
  /* .selectric-form-control-sm &{
    font-size: 14px;
    top: calc(100% + 20px);
  } */ }
  .selectric-items::after {
    content: "";
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 16px;
    top: -12px; }
  .selectric-items::before {
    content: "";
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: transparent transparent #D7D9E5;
    position: absolute;
    left: 14px;
    top: -13px; }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto; }
  .selectric-above .selectric-items {
    top: auto;
    bottom: calc(100% + 20px); }
  .selectric-items ul {
    list-style: none;
    padding: 10px 0;
    margin: 0; }
  .selectric-items li {
    display: block;
    color: #212332;
    cursor: pointer;
    padding: 11px 45px 11px 20px;
    position: relative; }
    .selectric-items li::after {
      content: "";
      width: calc(100% - 20px);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      background: #D7D9E5; }
    .selectric-items li:last-child::after {
      display: none; }
    .selectric-items li::before {
      content: "\e909";
      font-family: 'icomoon';
      font-size: 16px;
      color: #46B275;
      position: absolute;
      right: 20px;
      top: calc(50% - 8px);
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .selectric-items li.selected::before {
      opacity: 1; }
  .selectric-form-control-multiple .selectric-items li {
    padding-right: 20px;
    padding-left: 60px; }
    .selectric-form-control-multiple .selectric-items li::after {
      width: calc(100% - 60px); }
    .selectric-form-control-multiple .selectric-items li::before {
      content: "";
      color: #fff;
      position: absolute;
      right: auto;
      left: 20px;
      top: calc(50% - 10px);
      opacity: 1;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 20px;
      height: 20px;
      border: 1px solid #D7D9E5;
      font-size: 8px;
      line-height: 18px;
      text-align: center;
      border-radius: 5px; }
    .selectric-form-control-multiple .selectric-items li.selected::before {
      content: "\e909";
      border-color: #223979;
      background: #223979; }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none; }
  .selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    user-select: none;
    background: none;
    color: #444; }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1; }
  .selectric-items .selectric-group li {
    padding-left: 25px; }

.selectric-form-control-sm .selectric-above .selectric-items {
  bottom: calc(100% + 5px); }

html {
  height: 100%; }

body {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666980;
  height: 100%;
  font-size: 16px;
  background: #F8F8FB; }
  body.page-login {
    background: #fff; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: 600;
  line-height: 1.25;
  color: #212332; }

label {
  font-weight: 600; }

.color-success {
  color: #46B275; }

.color-danger {
  color: #F15139; }

.color-warning {
  color: #FFC043; }

a {
  color: #054582;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover, a:focus {
    color: #054582; }
  a:active {
    color: #054582; }

img {
  max-width: 100%;
  height: auto; }

.gm-style img {
  max-width: none; }

#page {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  min-height: 100%; }
  .page-login #page {
    padding: 0; }
  body.modal-open #page {
    filter: blur(10px);
    -webkit-filter: blur(10px); }

.site-main::after {
  content: "";
  display: table;
  clear: both; }

body.modal-open {
  padding-left: 0;
  padding-top: 0; }

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.285;
  padding: 20px 30px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center; }
  .button:hover, .button:focus {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px); }
  .button:hover, .button:focus {
    text-decoration: none; }
  .button-md {
    padding: 15px 30px; }
  .button-sm {
    padding: 11px 20px;
    font-size: 12px; }
  .button-xsm {
    padding: 6px 12px;
    font-size: 12px; }
  .button-primary {
    background: #CB1E1A;
    border: 1px solid #CB1E1A;
    color: #fff;
    box-shadow: 0 10px 30px -10px #CB1E1A; }
    .button-primary:hover, .button-primary:focus {
      background: #CB1E1A;
      color: #fff; }
    .button-primary:active {
      background: #CB1E1A;
      color: #fff; }
    .button-primary.button-sm {
      box-shadow: 0 10px 20px -10px rgba(203, 30, 26, 0.5); }
  .button-primary-alt {
    background: none;
    border: 2px solid #CB1E1A;
    color: #CB1E1A;
    padding-top: 19px;
    padding-bottom: 19px; }
    .button-primary-alt:hover, .button-primary-alt:focus {
      background: #CB1E1A;
      color: #fff; }
    .button-primary-alt:active {
      background: #CB1E1A;
      color: #fff; }
    .button-primary-alt.button-md {
      padding-top: 14px;
      padding-bottom: 14px; }
    .button-primary-alt.button-sm {
      padding-top: 10px;
      padding-bottom: 10px; }
    .button-primary-alt.button-xsm {
      padding-top: 5px;
      padding-bottom: 5px; }
  .button-primary-alt-2 {
    background: #F3D2D2;
    border-color: #F3D2D2;
    color: #CB1E1A; }
    .button-primary-alt-2:hover, .button-primary-alt-2:focus {
      background: #CB1E1A;
      border-color: #CB1E1A;
      color: #fff; }
    .button-primary-alt-2:active {
      background: #CB1E1A;
      border-color: #CB1E1A;
      color: #fff; }
  .button-secondary {
    background: #223979;
    border: 2px solid #223979;
    color: #CB1E1A;
    padding-top: 19px;
    padding-bottom: 19px; }
    .button-secondary:hover, .button-secondary:focus {
      border-color: #CB1E1A;
      background: #223979;
      color: #CB1E1A; }
    .button-secondary:active {
      border-color: #CB1E1A;
      background: #223979;
      color: #CB1E1A; }
    .button-secondary.button-md {
      padding-top: 14px;
      padding-bottom: 14px; }
    .button-secondary.button-sm {
      padding-top: 9px;
      padding-bottom: 9px; }
  .button-secondary-alt {
    background: #CB1E1A;
    border: 2px solid #CB1E1A;
    color: #223979;
    padding-top: 19px;
    padding-bottom: 19px; }
    .button-secondary-alt.button-md {
      padding-top: 14px;
      padding-bottom: 14px; }
    .button-secondary-alt.button-sm {
      padding-top: 9px;
      padding-bottom: 9px; }
    .button-secondary-alt:hover, .button-secondary-alt:focus {
      border-color: #CB1E1A;
      background: #CB1E1A;
      color: #223979; }
    .button-secondary-alt:active {
      border-color: #CB1E1A;
      background: #CB1E1A;
      color: #223979; }
  .button-delete {
    background: #F15139;
    border: 1px solid #F15139;
    color: #fff;
    box-shadow: 0 10px 30px -10px #F15139; }
    .button-delete:hover, .button-delete:focus {
      background: #d84932;
      color: #fff; }
    .button-delete:active {
      background: #d84932;
      color: #fff; }
  .button-delete-alt {
    background: none;
    border: 2px solid #F15139;
    color: #F15139;
    padding-top: 19px;
    padding-bottom: 19px; }
    .button-delete-alt.button-md {
      padding-top: 14px;
      padding-bottom: 14px; }
    .button-delete-alt.button-am {
      padding-top: 9px;
      padding-bottom: 9px; }
  .button i {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle; }
  .button-load-more {
    border-radius: 30px;
    border: 2px solid #A8ABBD;
    color: #CB1E1A;
    padding-top: 14px;
    padding-bottom: 14px; }
    .button-load-more:hover, .button-load-more:focus {
      border-color: #CB1E1A;
      background: #F3D2D2;
      color: #CB1E1A;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
    .button-load-more.loading i {
      animation: rotate 1s infinite linear; }

.flex-row,
.flex-main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex-row {
  margin: 0 -15px;
 }
  .flex-row-s {
    /* margin: 0 -10px;  */
  }

.flex-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

.flex-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-grow: 1;
  -webkit-flex-grow: 1; }

.flex-grow {
  flex-grow: 1;
  -webkit-flex-grow: 1; }

.flex-center {
  align-items: center; }

.flex-grid-center {
  justify-content: center; }

.flex-reverse {
  flex-direction: row-reverse; }

/*------ login page ----*/
.site-header {
  padding: 10px 0;
  display: none;
  background: #fff;
  position: relative; }
  .site-header::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: rgba(168, 171, 189, 0.3);
    background: linear-gradient(0deg, rgba(168, 171, 189, 0) 0%, rgba(168, 171, 189, 0.3) 100%);
    z-index: 2; }
  .site-header img {
    max-width: 70px;
    float: right; }
  .page-login .site-header {
    padding: 15px; }
    .page-login .site-header::after {
      display: none; }
    .page-login .site-header img {
      float: none; }

.nav-toggle {
  background: #223979;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: none;
  float: left;
  position: relative;
  cursor: pointer; }
  .nav-toggle span {
    display: block;
    width: 12px;
    background: #fff;
    border-radius: 6px;
    height: 2px;
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 1px); }
    .nav-toggle span::before, .nav-toggle span::after {
      content: "";
      width: 100%;
      background: #fff;
      border-radius: 6px;
      height: 2px;
      position: absolute;
      left: 0;
      top: -4px; }
    .nav-toggle span::after {
      width: 50%;
      top: auto;
      bottom: -4px; }

.container-fluid {
  max-width: 1200px; }

.page-login {
  position: relative;
  /* .flex-main{
		align-items: center;
	} */ }
  .page-login .container-fluid {
    max-width: 100%;
    padding: 0; }

.site-login-image-wrap {
  padding: 0; }

.site-login-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 142px 30px 50px;
  height: 100%;
  font-size: 0;
  letter-spacing: 0;
  /* &::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 1px;

	}
	&-main{
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 1px);
	} */ }
  .site-login-image-in {
    max-width: 468px;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-weight: 300; }
    .site-login-image-in h1 {
      font-size: 64px;
      line-height: 1.25;
      margin: 0 0 30px;
      color: #fff; }
    .site-login-image-in p:last-child {
      margin-bottom: 0; }

.site-login {
  max-width: 380px;
  width: 100%;
  margin: 0 auto; }
  .site-login-in {
    padding: 50px 0; }
  .site-login h2 {
    font-size: 36px;
    margin: 52px 0 30px; }
  .site-login a {
    font-weight: 600; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px; }

.form-control {
  border-color: #D7D9E5;
  height: 40px;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: none;
  font-weight: bold; }
  .form-control:focus {
    outline: none;
    border-color: #054582;
    box-shadow: none; }
  .form-control-sm {
    height: 30px;
    font-size: 13px; }
  .form-control.form-error {
    border-color: #F15139; }
  .form-control[disabled] {
    border-color: #D7D9E5;
    opacity: 0.5;
    background: #fff; }

label[disabled] {
  opacity: 0.5; }

.form-error-message {
  display: block;
  color: #F15139;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  line-height: 1.25; }

textarea.form-control {
  height: 120px; }

.login-form {
  margin-bottom: 30px; }
  .login-form .button {
    width: 100%; }
  .login-form .form-control {
    height: 50px; }

.dash-nav {
  position: fixed;
  left: 0;
  top: 0;
  background: #223979;
  width: 80px;
  z-index: 101;
  padding-top: 15px;
  padding-bottom: 100px;
  z-index: 10000; }
  .dash-nav-main {
    float: left;
    width: 80px;
    min-height: 1px;
    height: calc(100vh - 84px);
    position: relative; }
    .dash-nav-main .user-info {
      position: fixed;
      left: 15px;
      bottom: 30px;
      z-index: 10000; }
      .dash-nav-main .user-info img {
        border-radius: 50%;
        width: 50px; }
      .dash-nav-main .user-info span {
        display: none; }
  .dash-nav.sticky {
    position: fixed; }
    .dash-nav.sticky.bottom {
      top: auto;
      bottom: 0; }
    .dash-nav.sticky > ul ul.sub-menu {
      position: fixed;
      top: 0;
      height: 100%;
      overflow: auto; }
  .dash-nav::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background: #223979;
    width: 80px;
    height: 100%; }
  .dash-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .dash-nav > ul {
    width: 80px;
    height: 100%;
    position: relative; }
    .dash-nav > ul > li {
      padding: 0 10px;
      margin-bottom: 10px; }
      .dash-nav > ul > li > a {
        display: block;
        font-size: 30px;
        color: #fff;
        height: 60px;
        border-radius: 8px;
        text-align: center;
        line-height: 60px;
        text-decoration: none; }
        .dash-nav > ul > li > a:hover, .dash-nav > ul > li > a:focus {
          background: rgba(33, 35, 50, 0.4); }
        .dash-nav > ul > li > a i {
          line-height: 60px; }
        .dash-nav > ul > li > a > span {
          display: none;
          color: #D4DBEF;
          font-size: 12px;
          font-weight: bold;
          margin-left: 15px; }
      .dash-nav > ul > li.active > a {
        background: rgba(33, 35, 50, 0.4); }
    .dash-nav > ul ul.sub-menu {
      position: absolute;
      left: 80px;
      top: -15px;
      width: 250px;
      height: calc(100% + 15px);
      background: #fff;
      box-shadow: 6px 3px 10px 0 rgba(215, 217, 229, 0.5);
      padding: 30px; }
  .dash-nav .sub-menu-inner h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px; }
  .dash-nav .sub-menu-inner ul {
    margin-bottom: 30px; }
    .dash-nav .sub-menu-inner ul li a {
      font-weight: normal;
      font-size: 10px;
      color: #666980;
      line-height: 1.3;
      padding: 20px 50px 20px 0;
      margin-right: -30px;
      border-bottom: 1px solid #D7D9E5;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      position: relative; }
      .dash-nav .sub-menu-inner ul li a span {
        display: inline-block;
        text-transform: none;
        margin-top: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #054582;
        position: relative;
        padding-bottom: 4px; }
        .dash-nav .sub-menu-inner ul li a span::after {
          content: "";
          width: 0%;
          height: 1px;
          left: 50%;
          bottom: 0;
          position: absolute;
          background: #054582;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      .dash-nav .sub-menu-inner ul li a:hover span::after {
        width: 100%;
        left: 0; }
      .dash-nav .sub-menu-inner ul li a::after {
        content: "\e902";
        font-family: icomoon;
        font-size: 14px;
        color: #A8ABBD;
        position: absolute;
        right: 30px;
        bottom: 24px; }
  .dash-nav .sub-menu-inner .button {
    width: 100%;
    text-transform: none;
    text-align: left; }
  .dash-nav.dash-nav-inner::before {
    background: #CB1E1A; }
  .dash-nav.dash-nav-inner > ul > li {
    padding: 0;
    margin-bottom: 10px; }
    .dash-nav.dash-nav-inner > ul > li > a {
      height: 66px;
      line-height: 66px;
      border-radius: 0; }
      .dash-nav.dash-nav-inner > ul > li > a:hover, .dash-nav.dash-nav-inner > ul > li > a:focus {
        background: #CB1E1A; }
      .dash-nav.dash-nav-inner > ul > li > a i {
        line-height: 66px; }
    .dash-nav.dash-nav-inner > ul > li.active > a {
      background: #fff;
      color: #CB1E1A; }

.page-fixed-nav {
  position: relative; }

.page-wrap {
  float: left;
  width: calc(100% - 80px);
  position: relative; }
  .page-form .page-wrap {
    padding-left: 250px; }

.page-content-main {
  padding: 20px 0; }
  .page-content-main.page-dash-main {
    padding: 60px 0; }

.page-head {
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .page-head-alt {
    width: 100%;
    z-index: 1000; }
    .page-head-alt.no-bt .page-head-top {
      padding-bottom: 30px; }
    .page-head-alt.no-bt .page-head-bottom {
      padding-bottom: 0; }
  .page-head.floating {
    position: fixed;
    transform: translateY(-100%);
    right: 0;
    top: 0;
    background: #fff;
    width: calc(100% - 80px); }
    .page-head.floating::after {
      content: "";
      width: 100%;
      height: 15px;
      position: absolute;
      left: 0;
      bottom: -15px;
      background: #A8ABBD;
      background: linear-gradient(0deg, rgba(168, 171, 189, 0) 0%, #a8abbd 100%);
      opacity: 0.2; }
    .page-head.floating .page-head-main {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 99; }
    .page-head.floating .page-head-alt .page-head-top {
      position: relative;
      z-index: 100;
      background: #fff; }
    .page-head.floating .page-head-alt .page-head-bottom {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 99; }
  .page-head.sticky {
    transform: translateY(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .page-head.scrolled .page-head-main {
    position: relative;
    transform: translateY(0); }
  .page-head.scrolled .page-head-alt .page-head-bottom {
    position: relative;
    transform: translateY(0); }
  .page-head-main {
    position: relative; }
    .page-head-main .site-logo {
      position: absolute;
      right: 30px;
      top: 21px;
      max-width: 80px; }
    .page-head-main h1 {
      font-size: 32px;
      margin: 16px 0 0; }
      .page-head-main h1.alt {
        font-size: 24px;
        display: inline-block; }
        .page-head-main h1.alt a {
          text-decoration: none; }
        .page-head-main h1.alt i {
          font-size: 16px;
          margin-right: 10px;
          color: #A8ABBD;
          display: inline-block;
          vertical-align: middle; }
        .page-head-main h1.alt span {
          background: #223979;
          color: #fff;
          padding: 0 4px;
          line-height: 14px;
          font-size: 10px;
          font-weight: bold;
          float: right;
          margin-left: 5px;
          display: block;
          height: 14px;
          border-radius: 3px; }
    .page-head-main .activity-list {
      padding-top: 10px; }
  .page-head-top {
    padding-top: 29px; }
    .page-head-top:empty {
      padding-top: 15px; }
    .page-head-top .col-xs-6 {
      margin-bottom: 20px; }
    .page-head-top h1 {
      font-size: 32px;
      margin: 0; }
  .page-head-bottom {
    padding-bottom: 10px; }

.tab-list {
  position: relative; }
  .tab-list::before {
    content: "";
    width: 500%;
    height: 1px;
    background: #D7D9E5;
    position: absolute;
    left: 0;
    bottom: 0; }
  .tab-list::after {
    content: "";
    display: table;
    clear: both; }
  .tab-list > ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .tab-list > ul > li {
      float: left;
      margin-right: 28px; }
      .tab-list > ul > li > a {
        color: #212332;
        padding: 26px 0 22px;
        display: block;
        font-size: 14px;
        position: relative;
        text-decoration: none; }
        .tab-list > ul > li > a::after {
          content: "";
          width: 0;
          height: 2px;
          background: #223979;
          left: 50%;
          bottom: 0;
          position: absolute;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .tab-list > ul > li > a:hover {
          text-decoration: none; }
          .tab-list > ul > li > a:hover::after {
            width: 100%;
            left: 0; }
        .tab-list > ul > li > a span {
          margin-top: -5px;
          background: #A8ABBD;
          color: #fff;
          padding: 0 4px;
          line-height: 14px;
          font-size: 10px;
          font-weight: bold;
          float: right;
          margin-left: 5px;
          display: block;
          height: 14px;
          border-radius: 3px; }
      .tab-list > ul > li.active a {
        font-weight: bold; }
        .tab-list > ul > li.active a::after {
          width: 100%;
          left: 0; }
        .tab-list > ul > li.active a span {
          background: #223979; }

.page-head-right {
  text-align: right; }

.activity-list {
  margin-bottom: 0; }
  .activity-list li {
    vertical-align: top;
    position: relative; }
    .activity-list li > ul {
      position: absolute;
      top: 100%;
      left: 5px;
      opacity: 0;
      visibility: hidden;
      z-index: 10; }
      .activity-list li > ul li {
        margin-top: 10px; }
    .activity-list li.open > ul {
      opacity: 1;
      visibility: visible; }
  .activity-list .activity-list-item {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #F3D2D2;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-size: 19px;
    color: #CB1E1A;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .activity-list .activity-list-item span {
      display: block;
      width: 100%;
      height: 100%; }
    .activity-list .activity-list-item:hover, .activity-list .activity-list-item:focus {
      background: #CB1E1A;
      color: #fff;
      border: 2px solid #CB1E1A;
      box-shadow: 0 5px 10px -5px #CB1E1A;
      margin-top: -2px; }
    .activity-list .activity-list-item.searchitem {
      border-color: #D7D9E5;
      border-width: 1px;
      line-height: 38px;
      color: #A8ABBD;
      font-size: 16px; }
      .activity-list .activity-list-item.searchitem:hover, .activity-list .activity-list-item.searchitem:focus {
        color: #fff;
        border-color: #CB1E1A; }
      .activity-list .activity-list-item.searchitem.on i::before {
        content: "\e90a";
        font-size: 12px; }
    .activity-list .activity-list-item .date-picker {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%; }
    .activity-list .activity-list-item.activity-list-trigger {
      line-height: 26px; }
      .activity-list .activity-list-item.activity-list-trigger:hover, .activity-list .activity-list-item.activity-list-trigger:focus {
        margin: 0; }
        .activity-list .activity-list-item.activity-list-trigger:hover .list-stcak, .activity-list .activity-list-item.activity-list-trigger:focus .list-stcak {
          background: #fff; }
          .activity-list .activity-list-item.activity-list-trigger:hover .list-stcak::before, .activity-list .activity-list-item.activity-list-trigger:hover .list-stcak::after, .activity-list .activity-list-item.activity-list-trigger:focus .list-stcak::before, .activity-list .activity-list-item.activity-list-trigger:focus .list-stcak::after {
            background: #fff; }
      .activity-list .activity-list-item.activity-list-trigger ~ ul li .activity-list-item {
        background: #CB1E1A;
        color: #fff;
        border: 2px solid #CB1E1A; }
    .activity-list .activity-list-item .list-stcak {
      position: relative;
      width: 3px;
      height: 3px;
      display: inline-block;
      border-radius: 50%;
      background: #CB1E1A; }
      .activity-list .activity-list-item .list-stcak::before, .activity-list .activity-list-item .list-stcak::after {
        content: "";
        width: 3px;
        height: 3px;
        position: absolute;
        left: 0;
        top: -6px;
        border-radius: 50%;
        background: #CB1E1A; }
      .activity-list .activity-list-item .list-stcak::after {
        top: auto;
        bottom: -6px; }

.page-filter-item > ul > li {
  vertical-align: top;
  margin-bottom: 10px; }

.page-filter-item .selectric-form-control,
.page-filter-item .form-control {
  width: 150px; }

.page-filter-item select[multiple] {
  height: 50px; }
  .page-filter-item select[multiple].form-control-sm {
    height: 30px; }

.page-filter-item .selectric-items {
  min-width: 240px; }

.page-filter-item .selectric-form-control-multiple .selectric-items {
  min-width: 280px; }

.page-filter-item-right li {
  text-align: left; }

.page-filter-item-right .selectric-form-control {
  width: 120px; }

.page-filter-item-search {
  position: relative; }
  .page-filter-item-search i {
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
    font-size: 16px;
    color: #A8ABBD; }
  .page-filter-item-search input {
    padding-left: 36px;
    max-width: 200px; }
  .page-filter-item-search-main {
    display: none;
    padding-bottom: 12px; }
    .page-filter-item-search-main input {
      max-width: 100%; }

.dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 35px 0 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  user-select: none;
  color: #666980;
  border: 1px solid #D7D9E5;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
  text-align: left; }
  .dropdown-label i {
    position: absolute;
    right: 15px;
    font-size: 14px;
    top: calc(50% - 7px);
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    width: auto;
    font-weight: normal;
    color: #666980; }
  .dropdown-label:hover, .dropdown-label:focus {
    outline: none;
    text-decoration: none;
    color: #666980; }

.dropdown.open .dropdown-label {
  border-color: #223979; }

.dropdown-sm .dropdown-label {
  height: 30px;
  line-height: 30px;
  font-size: 13px; }

.dropdown-menu {
  margin-top: 20px;
  box-shadow: 0 10px 30px 0 rgba(168, 171, 189, 0.5);
  border-radius: 8px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  border: 1px solid #D7D9E5; }
  .dropdown-menu::after {
    content: "";
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 16px;
    top: -12px; }
  .dropdown-menu::before {
    content: "";
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: transparent transparent #D7D9E5;
    position: absolute;
    left: 14px;
    top: -13px; }
  .dropdown-menu.pull-right::after {
    left: auto;
    right: 16px; }
  .dropdown-menu.pull-right::before {
    left: auto;
    right: 14px; }
  .dropdown-menu li {
    display: block;
    padding: 0;
    color: #212332;
    cursor: pointer;
    padding: 20px;
    position: relative; }
    .dropdown-menu li::after {
      content: "";
      width: calc(100% - 20px);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      background: #D7D9E5; }
    .dropdown-menu li:last-child::after {
      display: none; }
    .dropdown-menu li > a {
      padding: 20px;
      margin: -20px; }
    .dropdown-menu li.active a {
      background: #D7D9E5; }
      .dropdown-menu li.active a:hover, .dropdown-menu li.active a:focus {
        background: #D7D9E5; }
  .dropdown-menu.invoice-slider {
    padding: 20px;
    min-width: 300px; }
    .dropdown-menu.invoice-slider label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 18px;
      color: #212332; }
  .dropdown-menu h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(168, 171, 189, 0.4);
    padding: 20px 20px 20px 0;
    margin: 0 0 0 20px; }
  .dropdown-menu .drop-inner-wrap {
    padding: 0 20px; }
  .dropdown-menu .button {
    width: 100%;
    box-shadow: none; }
  .dropdown-menu.dropdown-menu-user {
    min-width: 300px;
    padding-bottom: 16px; }
    .dropdown-menu.dropdown-menu-user ul {
      margin-bottom: 25px;
      padding: 0;
      list-style: none; }
      .dropdown-menu.dropdown-menu-user ul li {
        padding-left: 0;
        padding-bottom: 0; }
        .dropdown-menu.dropdown-menu-user ul li::after {
          width: calc(100% - 110px); }
        .dropdown-menu.dropdown-menu-user ul li:last-child::after {
          display: block; }
        .dropdown-menu.dropdown-menu-user ul li label {
          margin-bottom: 0;
          display: block; }
        .dropdown-menu.dropdown-menu-user ul li .input-check {
          display: block;
          padding-left: 20px; }
          .dropdown-menu.dropdown-menu-user ul li .input-check span {
            display: block;
            overflow: hidden; }
          .dropdown-menu.dropdown-menu-user ul li .input-check img {
            float: left;
            margin-right: 20px;
            border-radius: 8px;
            width: 40px; }
  .dropdown-menu.dropdown-menu-write-a-note {
    min-width: 300px;
    padding-bottom: 16px; }
    .dropdown-menu.dropdown-menu-write-a-note h2 {
      margin-bottom: 20px; }
    .dropdown-menu.dropdown-menu-write-a-note .form-group {
      margin-bottom: 10px; }
  .dropdown-menu.dropdown-menu-info {
    min-width: 500px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal; }
    .dropdown-menu.dropdown-menu-info h2 {
      margin-bottom: 20px; }
    .dropdown-menu.dropdown-menu-info p {
      margin-bottom: 24px; }
  .dropdown-menu.dropdown-timeline {
    min-width: 500px; }
    .dropdown-menu.dropdown-timeline h2 {
      margin-bottom: 20px; }
    .dropdown-menu.dropdown-timeline .task-history {
      margin: 0; }
      .dropdown-menu.dropdown-timeline .task-history img {
        float: left;
        width: 50px;
        border-radius: 50%;
        margin-right: 15px; }
      .dropdown-menu.dropdown-timeline .task-history-main {
        overflow: hidden;
        padding-bottom: 20px;
        margin: 0 20px 20px;
        border-bottom: 1px solid rgba(168, 171, 189, 0.4); }
      .dropdown-menu.dropdown-timeline .task-history-in {
        overflow: hidden; }
        .dropdown-menu.dropdown-timeline .task-history-in h3 {
          font-size: 18px;
          margin: 0 0 5px; }
        .dropdown-menu.dropdown-timeline .task-history-in p {
          font-size: 14px;
          color: #A8ABBD;
          font-weight: 600;
          margin-bottom: 0; }
          .dropdown-menu.dropdown-timeline .task-history-in p span {
            float: right; }

.mobile-filter-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  padding: 15px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .filter-open .mobile-filter-main {
    opacity: 1;
    visibility: visible; }
  .mobile-filter-main .filter-close {
    display: inline-block;
    text-decoration: none;
    color: #A8ABBD;
    margin-bottom: 10px; }
  .mobile-filter-main h2 {
    font-size: 18px;
    margin: 0 0 13px; }
  .mobile-filter-main button {
    width: 100%; }

.filter-btn {
  display: inline-block;
  line-height: 28px;
  border: 1px solid rgba(168, 171, 189, 0.2);
  background: #D7D9E5;
  padding: 0 10px;
  border-radius: 5px;
  color: #666980;
  font-weight: bold;
  font-size: 13px; }

.filter-btn:hover,
.filter-btn:focus {
  text-decoration: none;
  opacity: 0.8;
  color: #666980; }

.and-or-switch {
  display: inline-block;
  border: 1px solid rgba(168, 171, 189, 0.2);
  background: #D7D9E5;
  line-height: 28px;
  border-radius: 5px;
  color: #666980;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  cursor: pointer; }
  .and-or-switch-in span {
    display: inline-block;
    width: 46px;
    height: 100%;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .and-or-switch-in span:first-of-type {
      color: #fff; }
  .and-or-switch-in::before {
    content: "";
    width: 46px;
    background: #223979;
    border: 1px solid #223979;
    border-radius: 5px;
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    box-shadow: 0 5px 10px 0 rgba(34, 57, 121, 0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .and-or-switch input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .and-or-switch input:checked ~ .and-or-switch-in span {
      color: #fff; }
      .and-or-switch input:checked ~ .and-or-switch-in span:first-of-type {
        color: #666980; }
    .and-or-switch input:checked ~ .and-or-switch-in::before {
      left: calc(100% - 45px); }

.page-content-main {
  padding: 30px 0; }

.input-check {
  display: inline-block;
  position: relative; }
  .input-check > span {
    min-height: 20px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px; }
    .input-check > span::before {
      content: "";
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #D7D9E5;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
    .input-check > span::after {
      content: "\e909";
      font-family: icomoon;
      font-size: 8px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      background: #054582;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      opacity: 0;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
  .input-check input {
    position: absolute;
    opacity: 0; }
    .input-check input:checked + span::after {
      opacity: 1; }

.input-radio {
  display: inline-block;
  position: relative; }
  .input-radio > span {
    min-height: 20px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px; }
    .input-radio > span::before {
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #A8ABBD;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
    .input-radio > span::after {
      content: "";
      text-align: center;
      position: absolute;
      left: 0;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      opacity: 0;
      border: 5px solid #054582;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
      border-radius: 50%; }
  .input-radio input {
    position: absolute;
    opacity: 0; }
    .input-radio input:checked + span::after {
      opacity: 1; }

.page-list-label {
  font-size: 14px;
  font-weight: 600;
  color: #A8ABBD;
  line-height: 1.28; }
  .page-list-label.form-label {
    margin-bottom: 6px;
    display: block; }

.card-grid-item {
  position: relative;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px 0 rgba(168, 171, 189, 0.2);
  font-weight: normal;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .card-grid-item:hover, .card-grid-item:focus {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 5px 20px 0 rgba(168, 171, 189, 0.2);
    text-decoration: none; }
  .card-grid-item .input-check, .card-grid-item .input-radio {
    position: absolute;
    right: 10px;
    top: 10px; }

.card-grid-content {
  padding: 20px;
  overflow: hidden; }

.card-grid-content-inner h3 {
  font-size: 18px;
  margin: 0 0 20px;
  padding-right: 25px;
  font-weight: bold; }

.card-grid-assignee {
  padding-top: 15px;
  overflow: hidden;
  margin-bottom: -10px; }
  .card-grid-assignee img {
    float: left;
    width: 30px;
    border-radius: 8px;
    margin-right: 10px; }
  .card-grid-assignee-in {
    overflow: hidden;
    font-size: 12px;
    list-style-image: 1.25;
    font-weight: 600;
    color: #212332; }
    .card-grid-assignee-in span {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      color: #A8ABBD;
      line-height: 1.3;
      font-weight: normal; }

.card-grid-content-detail {
  margin-bottom: 0; }
  .card-grid-content-detail li {
    margin-right: 30px;
    font-size: 14px;
    color: #212332;
    font-weight: 600;
    line-height: 1.3; }
    .card-grid-content-detail li span {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      color: #A8ABBD; }
    .card-grid-content-detail li:last-child {
      margin-right: 0; }

.card-grid-status {
  display: inline-block;
  line-height: 1;
  border-radius: 15px 0 0 15px;
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 800;
  float: right; }
  .card-grid-status-ri {
    background: rgba(255, 74, 141, 0.2);
    color: #FF4A8D; }
  .card-grid-status-ir {
    background: rgba(255, 176, 0, 0.2);
    color: #FFB000; }
  .card-grid-status-vl {
    background: rgba(23, 153, 213, 0.2);
    color: #1799D5; }
  .card-grid-status-lp {
    background: rgba(0, 161, 0, 0.2);
    color: #00A100; }

.card-grid-footer {
  padding: 0 0 20px 20px; }
  .card-grid-footer-inner {
    overflow: hidden; }
  .card-grid-footer-content {
    overflow: hidden;
    font-weight: 600;
    line-height: 1.25; }
    .card-grid-footer-content .card-grid-staus-time {
      float: left;
      color: #A8ABBD;
      font-size: 12px;
      font-style: italic;
      font-weight: 600;
      line-height: 30px; }

.range-slider-value {
  font-size: 10px;
  flex-wrap: 600;
  color: #A8ABBD;
  margin-top: 10px;
  float: left; }
  .range-slider-value-fi {
    float: right; }

html.card-open {
  overflow: hidden; }
  html.card-open #page {
    height: 100%; }

.card-item-details {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background: #F8F8FB;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .card-item-details.item-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .card-item-details-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.1s ease 0.3s;
    -moz-transition: all 0.1s ease 0.3s;
    -ms-transition: all 0.1s ease 0.3s;
    -o-transition: all 0.1s ease 0.3s;
    transition: all 0.1s ease 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999; }
    .card-item-details-wrap::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(33, 35, 50, 0.7);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0; }
    .card-item-details-wrap.open {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      opacity: 1;
      visibility: visible; }
      .card-item-details-wrap.open::before {
        opacity: 1; }
  .card-item-details-head {
    padding: 25px 30px 0;
    background: #fff;
    position: relative; }
    .card-item-details-head::after {
      content: "";
      width: 100%;
      height: 15px;
      position: absolute;
      left: 0;
      bottom: -15px;
      background: #A8ABBD;
      background: linear-gradient(0deg, rgba(168, 171, 189, 0) 0%, #a8abbd 100%);
      opacity: 0.2; }
    .card-item-details-head .card-item-details-head-title {
      font-size: 24px;
      margin: 0 0 16px; }
      .card-item-details-head .card-item-details-head-title i {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: #A8ABBD;
        cursor: pointer; }
    .card-item-details-head .card-grid-status {
      margin-right: -30px;
      float: none;
      display: inline-block;
      vertical-align: middle; }
    .card-item-details-head-top ul {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px; }
      .card-item-details-head-top ul li {
        text-align: left;
        vertical-align: middle; }
        .card-item-details-head-top ul li > p {
          margin: 0;
          font-size: 12px;
          font-weight: 600;
          font-style: italic;
          color: #A8ABBD; }
    .card-item-details-head-top .col-xs-12 {
      margin-bottom: 30px; }
    .card-item-details-head-bottom ul .button {
      min-width: 90px;
      box-shadow: none; }
    .card-item-details-head-bottom .tab-list {
      padding-right: 0; }
      .card-item-details-head-bottom .tab-list > ul > li > a {
        padding-top: 0; }
      .card-item-details-head-bottom .tab-list::before {
        display: none; }
  .card-item-details-content {
    padding-bottom: 30px; }
    .card-item-details-content-in {
      height: 100%;
      overflow-y: auto;
      padding: 30px 30px 0;
      -webkit-overflow-scrolling: touch; }
  .card-item-details.card-item-add-new {
    max-width: 400px;
    background: #fff; }
    .card-item-details.card-item-add-new .card-item-details-content {
      height: calc(100% - 71px); }
      .card-item-details.card-item-add-new .card-item-details-content .button {
        width: 100%; }
    .card-item-details.card-item-add-new .card-item-details-head-title {
      margin: 0; }
    .card-item-details.card-item-add-new .card-item-details-head {
      padding: 16px 10px 20px; }
      .card-item-details.card-item-add-new .card-item-details-head::after {
        display: none; }
    .card-item-details.card-item-add-new .card-item-details-content-in {
      padding-bottom: 30px; }
    .card-item-details.card-item-add-new ul button {
      min-width: 150px; }

.form-section {
  background: #fff;
  border: 1px solid #D7D9E5;
  box-shadow: 0 10px 30px -15px #D7D9E5;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 0 30px; }
  .form-section:last-child {
    margin-bottom: 0; }
  .form-section h3 {
    font-size: 18px;
    color: #A8ABBD;
    margin: 0; }
  .form-section-head {
    padding: 20px 30px 20px 0;
    position: relative;
    cursor: pointer; }
    .form-section-head::before {
      content: "\e911";
      font-family: icomoon;
      font-size: 12px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #212332;
      line-height: 26px;
      text-align: center;
      color: #212332;
      position: absolute;
      right: -10px;
      top: calc(50% - 15px);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .form-section-head.on::before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .form-section-head h3 {
      float: left;
      margin-top: 4px; }
    .form-section-head span {
      float: right; }
  .form-section-content {
    display: none; }
  .form-section .form-group {
    margin-bottom: 30px; }
    .form-section .form-group label {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
 }
    .form-section .form-group-repeat {
      padding-right: 54px;
      position: relative;
      border-bottom: 1px solid #D7D9E5;
      margin-bottom: 30px; }
      .form-section .form-group-repeat-delete {
        position: absolute;
        right: 0;
        top: 30px;
        font-size: 24px;
        color: #A8ABBD;
        text-decoration: none; }
      .form-section .form-group-repeat:first-child .form-group-repeat-delete {
        display: none; }

.form-notification {
  text-align: right;
  font-weight: 600; }
  .form-notification i {
    font-size: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }

.form-date {
  font-size: 0;
  letter-spacing: 0;
  margin-right: -1px; }
  .form-date-part {
    display: inline-block;
    width: 33.3333%;
    margin-right: -1px; }
    .form-date-part .selectric {
      border-radius: 0; }
    .form-date-part:first-child .selectric {
      border-radius: 8px 0 0 8px; }
    .form-date-part:last-child {
      margin-right: 0; }
      .form-date-part:last-child .selectric {
        border-radius: 0 8px 8px 0; }
    .form-date-part select {
      font-size: 16px; }

.form-mobile {
  position: relative;
  padding-left: 77px; }
  .form-mobile-code {
    position: absolute;
    left: 0;
    top: 0;
    width: 78px; }
    .form-mobile-code .selectric {
      border-radius: 8px 0 0 8px; }
  .form-mobile .form-control {
    border-radius: 0 8px 8px 0;
    position: relative; }
    .form-mobile .form-control:focus {
      z-index: 10; }

.form-list li {
  margin-right: 5px; }
  .form-list li:last-child {
    margin-right: 0; }

.form-files-input {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 2px solid #CB1E1A;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  margin-right: 27px; }
  .form-files-input:hover, .form-files-input:focus {
    background: #CB1E1A; }
    .form-files-input:hover::after, .form-files-input:hover::before, .form-files-input:focus::after, .form-files-input:focus::before {
      background: #fff; }
  .form-files-input::after, .form-files-input::before {
    content: "";
    background: #CB1E1A;
    position: absolute; }
  .form-files-input::after {
    width: 6px;
    height: 32px;
    left: calc(50% - 3px);
    top: calc(50% - 16px); }
  .form-files-input::before {
    width: 32px;
    height: 6px;
    left: calc(50% - 16px);
    top: calc(50% - 3px); }
  .form-files-input input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }

.form-files-preview-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100px;
  font-size: 12px;
  color: #A8ABBD;
  text-align: left; }
  .form-files-preview-item .form-files-preview-item-image {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #D7D9E5;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 #D7D9E5;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
    .form-files-preview-item .form-files-preview-item-image img {
      min-width: 100%;
      max-height: 100%;
      width: auto;
      max-width: none; }

.tab-content-main {
  border: 1px solid #D7D9E5;
  padding-left: 30px;
  background: #fff;
  border-radius: 8px; }

.tab-content-in {
  padding-right: 30px;
  font-size: 16px;
  color: #212332;
  border-bottom: 1px solid #D7D9E5; }
  .tab-content-in:last-child {
    border-bottom: none; }
  .tab-content-in h2 {
    font-size: 18px;
    color: #A8ABBD;
    margin: 20px 0; }
  .tab-content-in p {
    margin-bottom: 24px; }
    .tab-content-in p.text-label {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      color: #666980;
      margin-bottom: 5px; }

.status-label {
  display: inline-block;
  line-height: 30px;
  padding: 0 14px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold; }
  .status-label-success {
    background: rgba(70, 178, 117, 0.2);
    color: #46B275; }
  .status-label-pending {
    background: rgba(241, 81, 57, 0.2);
    color: #F15139; }

.dash-card {
  padding: 0 10px;
  margin-bottom: 20px; }
  .dash-card-in {
    border: 1px solid #D7D9E5;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(168, 171, 189, 0.2);
    border-radius: 8px;
    background: #fff;
    width: 147px; }
    .dash-card-in:hover, .dash-card-in:focus {
      text-decoration: none; }
    .dash-card-in img {
      margin: 0 auto 20px; }
    .dash-card-in h3 {
      margin: auto 0 0;
      font-size: 14px;
      color: #212332;
      font-weight: bold; }

.user-list-main {
  background: #fff;
  box-shadow: 0 5px 10px rgba(168, 171, 189, 0.2);
  border-radius: 8px;
  padding: 20px 0 20px 20px; }

.user-list-item {
  position: relative;
  padding-left: 25px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  color: #212332; }
  .user-list-item-main {
    position: relative;
    margin-bottom: 20px; }
    .user-list-item-main::after {
      content: "";
      width: calc(100% - 100px);
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: #D7D9E5; }
  .user-list-item .input-check {
    position: absolute;
    left: 0;
    top: calc(50% - 10px); }
  .user-list-item .user-item-name {
    overflow: hidden; }
    .user-list-item .user-item-name img {
      float: left;
      width: 40px;
      margin-right: 20px;
      border-radius: 8px; }
    .user-list-item .user-item-name h3 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      overflow-y: hidden; }
  .user-list-item p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0; }
  .user-list-item .user-item-edit {
    text-align: right; }
    .user-list-item .user-item-edit a {
      margin-left: 15px;
      display: block;
      color: #CB1E1A;
      font-size: 15px;
      text-decoration: none; }
  .user-list-item-head {
    padding-left: 45px; }
  .user-list-item-label {
    font-size: 10px;
    text-transform: uppercase;
    color: #666980;
    margin-bottom: 10px; }
    .user-list-item-label-name {
      padding-left: 60px; }

.tenant-card {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgba(168, 171, 189, 0.2);
  padding: 20px 40px 20px 20px;
  position: relative; }
  .tenant-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #212332; }
  .tenant-card p {
    font-size: 14px;
    font-weight: 600;
    color: #A8ABBD; }
  .tenant-card .popup-trigger {
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: #CB1E1A;
    font-size: 12px; }

/*------ */
.site-footer {
  background: #fff;
  /* position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100; */
  padding: 30px 0 0;
  margin-left: 80px; }
  .site-footer p {
    color: #A8ABBD;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px; }
    .site-footer p img {
      margin-left: 20px; }
  .site-footer ul {
    margin-bottom: 30px; }
    .site-footer ul li {
      margin: 0 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.28; }
      .site-footer ul li a {
        position: relative;
        display: block;
        padding-bottom: 4px;
        text-decoration: none; }
        .site-footer ul li a::after {
          content: "";
          width: 0%;
          height: 1px;
          left: 50%;
          bottom: 0;
          position: absolute;
          background: #054582;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .site-footer ul li a:hover::after {
          width: 100%;
          left: 0; }

.add-new-task {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #CB1E1A;
  color: #fff;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 2px 6px 0 rgba(203, 30, 26, 0.5);
  font-size: 24px; }
  .add-new-task:hover, .add-new-task:focus {
    text-decoration: none;
    color: #fff; }
  .add-new-task i {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block; }
  .add-new-task-main {
    position: fixed;
    right: 30px;
    bottom: 40px; }
    .add-new-task-main ul {
      position: absolute;
      left: 7px;
      bottom: 100%;
      margin-bottom: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0.1s;
      -moz-transition: all 0.3s ease 0.1s;
      -ms-transition: all 0.3s ease 0.1s;
      -o-transition: all 0.3s ease 0.1s;
      transition: all 0.3s ease 0.1s; }
      .add-new-task-main ul li {
        margin-bottom: 15px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0; }
        .add-new-task-main ul li:nth-child(3) {
          transition-delay: 0.1s; }
        .add-new-task-main ul li:nth-child(2) {
          transition-delay: 0.2s; }
        .add-new-task-main ul li:nth-child(1) {
          transition-delay: 0.3s; }
        .add-new-task-main ul li a {
          display: block;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          font-size: 18px;
          text-align: center;
          color: #fff;
          line-height: 45px;
          background: #CB1E1A;
          box-shadow: 0 2px 6px 0 rgba(203, 30, 26, 0.5);
          position: relative;
          text-decoration: none; }
          .add-new-task-main ul li a:hover, .add-new-task-main ul li a:focus {
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            -o-transform: translateY(-2px);
            transform: translateY(-2px); }
          .add-new-task-main ul li a span {
            position: absolute;
            right: 100%;
            top: 50%;
            margin-right: 10px;
            font-size: 12px;
            line-height: 1;
            font-weight: bold;
            background: rgba(33, 35, 50, 0.7);
            padding: 9px 10px;
            border-radius: 5px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            min-width: 110px; }
    .add-new-task-main.active ul {
      opacity: 1;
      visibility: visible;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; }
      .add-new-task-main.active ul li {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
    .add-new-task-main.active .add-new-task {
      color: #CB1E1A;
      background: #fff; }
      .add-new-task-main.active .add-new-task i {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }

.tooltip.in {
  opacity: 1; }

.tooltip-inner {
  background-color: #666980;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.27;
  padding: 5px 10px 5px 15px; }

.tooltip.top .tooltip-arrow {
  border-top-color: #666980; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666980; }

.tooltip.left .tooltip-arrow {
  border-left-color: #666980; }

.tooltip.right .tooltip-arrow {
  border-right-color: #666980; }

.flatpickr-calendar {
  box-shadow: 0 10px 30px 0 rgba(168, 171, 189, 0.5);
  border: 1px solid #D7D9E5;
  margin-top: 20px;
  padding: 0 20px 20px; }
  .flatpickr-calendar::after {
    content: "";
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 16px;
    top: -12px; }
  .flatpickr-calendar::before {
    content: "";
    border-style: solid;
    border-width: 0 14px 13px;
    border-color: transparent transparent #D7D9E5;
    position: absolute;
    left: 14px;
    top: -13px; }
  .flatpickr-calendar.arrowTop::after {
    border-color: transparent transparent #fff; }
  .flatpickr-calendar.arrowTop::before {
    border-color: transparent transparent #D7D9E5; }
  .flatpickr-calendar.rightMost::after {
    left: auto;
    right: 16px; }
  .flatpickr-calendar.rightMost::before {
    left: auto;
    right: 14px; }

.flatpickr-months {
  margin: 10px 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #212332;
  position: relative; }

.flatpickr-current-month {
  font-size: 11px;
  line-height: 28px;
  padding: 0; }

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  border-bottom: 1px solid rgba(168, 171, 189, 0.4);
  padding-bottom: 10px;
  margin-bottom: 4px; }

span.flatpickr-weekday {
  font-size: 12px;
  text-transform: uppercase;
  color: #A8ABBD; }

.flatpickr-day {
  font-weight: bold;
  font-size: 11px;
  color: #212332; }

.flatpickr-day.today {
  border-color: #A8ABBD; }

.flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.prevMonthDay {
  font-weight: normal;
  color: #A8ABBD; }

.flatpickr-day.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day.nextMonthDay:focus, .flatpickr-day.nextMonthDay:hover, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.today.inRange, .flatpickr-day:focus, .flatpickr-day:hover,
.flatpickr-day.today:focus, .flatpickr-day.today:hover {
  background: #A8ABBD;
  border-color: #A8ABBD;
  color: #fff; }

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
  background: #CB1E1A;
  border-color: #CB1E1A; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@media (min-width: 768px) {
  .site-login-image {
    min-height: 100vh; }
  .site-footer ul {
    text-align: right; } }

@media (min-width: 992px) {
  body:not(.page-login):not(.page-form) #main {
    min-height: calc(100vh - 86px); }
  .card-item-details-head .col-xs-12:last-child {
    text-align: right; } }

@media (min-width: 1200px) {
  .page-head-right,
  .page-filter-item-right {
    text-align: right; } }

@media (max-width: 1450px) {
  .page-head-main .activity-list {
    padding-right: 40px; } }

@media (max-width: 1400px) {
  .page-head-main .activity-list {
    padding-right: 80px; } }

@media (max-width: 1320px) {
  .page-head-main .activity-list {
    padding-right: 100px; } }

@media (max-width: 1249px) {
  .tab-list,
  .page-head-main .activity-list {
    padding-right: 140px; } }

@media (max-width: 991px) {
  .card-item-details-head {
    padding: 15px 15px 0; }
    .card-item-details-head .card-grid-status {
      margin-right: -15px;
      padding: 9px 12px; }
    .card-item-details-head .tab-list {
      margin-bottom: 15px; }
    .card-item-details-head-top .col-xs-12 {
      margin-bottom: 10px; }
    .card-item-details-head-top ul li:last-child {
      display: inline-block !important; }
    .card-item-details-head-top .activity-list li {
      position: initial; }
    .card-item-details-head-top .activity-list .dropdown {
      position: initial; }
      .card-item-details-head-top .activity-list .dropdown.open .activity-list-item span {
        position: relative; }
        .card-item-details-head-top .activity-list .dropdown.open .activity-list-item span::after {
          content: "";
          border-style: solid;
          border-width: 0 12px 12px;
          border-color: transparent transparent #fff;
          position: absolute;
          left: 8px;
          bottom: -23px;
          z-index: 100000; }
        .card-item-details-head-top .activity-list .dropdown.open .activity-list-item span::before {
          content: "";
          border-style: solid;
          border-width: 0 14px 13px;
          border-color: transparent transparent #D7D9E5;
          position: absolute;
          left: 6px;
          bottom: -23px; }
    .card-item-details-head-top .activity-list .dropdown-menu {
      left: 10px;
      right: 10px;
      min-width: calc(100% - 20px); }
      .card-item-details-head-top .activity-list .dropdown-menu::before, .card-item-details-head-top .activity-list .dropdown-menu::after {
        display: none; } }

@media (max-width: 767px) {
  .site-header {
    display: block; }
  .nav-toggle {
    display: block; }
  .site-login-image {
    padding: 50px 15px; }
    .site-login-image-in {
      font-size: 20px;
      max-width: 380px; }
      .site-login-image-in h1 {
        font-size: 35px;
        margin-bottom: 20px; }
        .site-login-image-in h1 br {
          display: none; }
  .page-head-main .site-logo {
    position: relative;
    right: 0;
    top: 20px;
    left: 15px; }
  .site-login-in {
    padding: 30px 0; }
    .site-login-in h2 {
      margin: 0 0 20px; }
  .page-head-main .site-logo {
    display: none; }
  .page-head-main h1 {
    font-size: 18px; }
  .tab-list {
    white-space: nowrap;
    overflow: auto;
    padding-right: 0; }
    .tab-list::before {
      width: 100%; }
    .tab-list ul li {
      display: inline-block;
      float: none; }
  .page-head-main .activity-list {
    padding-right: 0; }
  .page-head-top {
    padding-top: 16px; }
    .page-head-top h1 {
      font-size: 18px;
      margin-top: 8px; }
    .page-head-top .col-xs-6 {
      margin-bottom: 10px; }
  .page-head-alt.no-bt .page-head-top {
    padding-top: 16px;
    padding-bottom: 16px; }
  .dash-nav-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10000; }
    .nav-open .dash-nav-main {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .dash-nav-main .dash-nav {
      width: 240px;
      position: relative; }
      .dash-nav-main .dash-nav::before {
        width: 100%; }
      .dash-nav-main .dash-nav > ul {
        width: 100%; }
        .dash-nav-main .dash-nav > ul > li > a {
          text-align: left;
          padding: 0 16px; }
          .dash-nav-main .dash-nav > ul > li > a > i {
            vertical-align: top; }
          .dash-nav-main .dash-nav > ul > li > a > span {
            display: inline-block;
            vertical-align: top; }
    .dash-nav-main .user-info {
      width: calc(100% - 15px);
      padding-top: 15px;
      border-top: 1px solid rgba(225, 235, 250, 0.2); }
      .dash-nav-main .user-info img {
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle; }
      .dash-nav-main .user-info span {
        display: inline-block;
        vertical-align: middle;
        color: #D4DBEF;
        font-weight: bold; }
  .page-head.floating {
    width: 100%; }
  #page::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .nav-open #page::after {
    opacity: 1;
    visibility: visible; }
  .page-wrap {
    width: 100%;
    float: none; }
  .site-footer {
    margin-left: 0; }
  .card-item-details {
    padding-bottom: 50px; }
    .card-item-details-content {
      padding-bottom: 0; }
      .card-item-details-content-in {
        padding: 16px 10px; }
    .card-item-details-head {
      padding: 15px 12px 0; }
      .card-item-details-head .tab-list {
        margin: 0; }
      .card-item-details-head .card-item-details-head-title {
        font-size: 18px; }
      .card-item-details-head .activity-list .dropdown.open .activity-list-item span::after, .card-item-details-head .activity-list .dropdown.open .activity-list-item span::before {
        bottom: -26px; }
      .card-item-details-head .activity-list .dropdown-menu {
        margin-top: 0; }
    .card-item-details-head-top ul li:last-child {
      display: block !important;
      margin-top: 6px; }
    .card-item-details-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0; }
      .card-item-details-footer .button {
        width: 50%;
        border-radius: 0;
        float: left;
        box-shadow: none; }
  .user-list-item .user-item-name {
    margin-bottom: 15px; }
  .user-list-item .user-item-edit {
    text-align: left;
    margin-top: 10px; }
  .user-list-item-main::after {
    width: calc(100% - 20px); } }

@media (max-width: 600px) {
  .form-section {
    margin-bottom: 10px;
    padding: 0 25px 0 15px; }
    .form-section-head {
      padding: 13px 30px 13px 0; }
      .form-section-head span {
        font-size: 12px;
        line-height: 20px;
        padding: 0 9px; }
      .form-section-head::before {
        width: 20px;
        height: 20px;
        line-height: 16px;
        font-size: 8px; }
    .form-section h3 {
      font-size: 14px; }
  .card-grid-item {
    margin-bottom: 10px; }
  .form-files-input {
    width: 48px;
    height: 48px;
    margin-right: 18px; }
    .form-files-input::before {
      height: 4px;
      width: 24px;
      left: calc(50% - 12px);
      top: calc(50% - 2px); }
    .form-files-input::after {
      height: 24px;
      width: 4px;
      left: calc(50% - 2px);
      top: calc(50% - 12px); }
  .form-files-preview-item {
    width: 48px;
    margin-right: 18px; }
    .form-files-preview-item .form-files-preview-item-image {
      width: 48px;
      height: 48px; } }

@media (max-width: 400px) {
  .site-login-image {
    padding: 40px 15px; }
  .site-login-in h2 {
    margin-bottom: 15px; } }

@media (max-width: 321px) {
  .site-login-image {
    padding: 25px 15px; }
  .site-login-in {
    padding: 25px 0; }
    .site-login-in h2 {
      margin: 12px 0;
      font-style: 32px; } }
