.ant-input {
  height: 50px !important;
}

.ant-input:focus,
.ant-input:active {
  outline: none !important;
  border-color: #054582 !important;
  box-shadow: none !important;
}

.ant-input:hover {
  outline: none !important;
  border-color: #77838d !important;
  box-shadow: none !important;
}

.a8Select .ant-select-selection--single {
  border-color: #d7d9e5;
  height: 50px;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: none;
}

.a8Select .ant-select-selection--single .ant-select-selection__rendered {
  position: relative;
  display: block;
  margin-right: 11px;
  margin-left: 0px;
  line-height: 34px;
}

.a8Select .ant-select-selection:hover {
  outline: none;
  border-color: #77838d;
  box-shadow: none;
}

.a8Select .ant-select-selection:focus,
.ant-select-selection:active {
  outline: none !important;
  border-color: #054582 !important;
  box-shadow: none !important;
}

.ant-calendar-date {
  font-weight: 700 !important;
  font-size: 11px !important;
  color: #212332 !important;
  border-radius: 150px !important;
  padding: 0px !important;
}

.ant-calendar-today .ant-calendar-date {
  border-radius: 150px !important;
  padding: 0px !important;
  border-color: #959ea9 !important;
  background: white !important;
}

.ant-calendar-date:hover {
  border-radius: 150px;
  padding: 0px;
  background: #a8abbd !important;
  border-color: #a8abbd !important;
  color: #fff !important;
}

.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date {
  background: #cb1e1a !important;
  border-color: #cb1e1a !important;
  color: white !important;
}

.ant-calendar .ant-calendar-ok-btn {
  background: #cb1e1a !important;
  border-color: #cb1e1a !important;
  color: white !important;
}
