/** common style customization from style.css **/
.form-control-coustom {
    border-color: #D7D9E5;
    height: 50px;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: none; 
}

.button-primary {
    height: auto;
}

.form-control-coustom:focus, .form-control-coustom:hover {
    outline: none;
    border-color: #054582;
    box-shadow: none; 
}

.button-primary:hover, .button-primary:focus {
        background: #CB1E1A;
        color: #fff;
        border: 1px solid #CB1E1A;
}

.tab-list ul li a{
    text-decoration: none;
}

.page-head-main {
    position: relative;
    margin-bottom: 19px;
}

.page-head {
    background: #fff;
    padding-bottom: 3px;
}

/** common style customization for antd **/
.ant-form-item-label > label {
    color: #666980;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-form-vertical .ant-form-item {
    padding-bottom: 0px;
}

.ant-tabs-nav .ant-tabs-tab {
    color: #212332;
    padding: 26px 0 22px;
    font-size: 14px;
    position: relative;
}

.ant-tabs-nav .ant-tabs-tab-active {
    /* color: #1890ff; */
    font-weight: 700;
}

.ant-tabs-ink-bar{
    background: #223979;
}

.ant-tabs-nav .ant-tabs-tab:hover{
    color: #212332;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    /* color: #40a9ff; */
}

/* .tab-list .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav .ant-tabs-tab:active{
    font-weight: 700;
} */

/* .tabActive{
        
} */

.outSideWrapperStyle {
    margin: 20px
}